{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}
<div class="animal-form-container">
  <div class="page-header">
    {% if animal %}
      <h1>Edit {{animal.name}}</h1>
    {% else %}
      <h1>Add an Animal</h1>
    {% endif %}
  </div>
  {% comment %} 
    Leaving the action empty makes the form post to the same url used to display it
  {% endcomment %}
  <form action="" method="post" class="form-container">
    {% comment %} 
      Django requires the following for security purposes
      The {% csrf_token %} template tag is a security measure that makes it difficult to perform a cross-site-request-forgery by writing a CSRF (pronounced “see-surf”) token that is validated on the server.
    {% endcomment %}
    {% csrf_token %}
    <table>
      {% comment %}
        Render the inputs inside of <tr>s & <td>s
      {% endcomment %}
      {{ form.as_table }}
    </table>
    <div class="form-buttons">
      {% if animal %}
      <a href="{% url 'animals_detail' animal.id %}" class="btn warn">Cancel</a>
      {% else %}
        <a href="{% url 'animals_index' %}" class="btn warn">Cancel</a>
      {% endif %}
      <button type="submit" class="btn submit">Submit</button>
    </div>
  </form>
</div>
{% endblock %}