{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}
<div class="data-form-container">
  <div class="page-header">
  {% if object %}
    <h1>Edit: {{ object.animal.name }}</h1>
  {% else %}
    <h1>Add a Weight Record</h1>
  {% endif %}
  </div>
  <form action="" method="post" class="form-container" autocomplete="off">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <div class="form-buttons">
      <a href="{% url 'animals_detail' object.animal.id %}" class="btn warn">Cancel</a>
      <button type="submit" class="btn submit">Submit</button>
    </div>
  </form>
</div>
{% endblock %}