.animal-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.animal-img {
  width: 75%;
  max-width: 350px;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.animal-details {
  width: 98%;
}

.animal-actions {
  margin-top: 20px;
}

.data-section-weight-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
}

.subsection-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.subsection-content {
  margin: 0 8px;
}

.weight-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.color-block {
  opacity: 0.8;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}


.animal-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.animal-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.animal-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.animal-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

.data-section-weight-container > section {
  width: 80%;
  min-width: 360px;
  border: var(--borders);
  border-radius: var(--card-border-radius);
  padding: 10px;
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.subsection-title img {
  height: 42px;
  margin-left: 8px;
}

.subsection-title img:first-of-type {
  margin-left: 16px;
}

.subsection-title i:last-child {
  margin-left: auto;
}

.data-section h2,
.weights h2 {
  font-size: 3.2rem;
  margin: 0;
}

.data-section h3,
.weights h3 {
  font-size: var(--font-xl);
  margin: 10px 0;
}

.subsection-content p,
.subsection-content input,
.subsection-content select {
  font-size: var(--font-l);
}

.subsection-content input,
.subsection-content select {
  margin-left: 5px;
  padding: 3px;
}

.animal-details table {
  width: 10vw;
  text-align: left;
  border-collapse: collapse;
  margin: 0 8px;
}

.animal-details td {
  padding: 8px 5px;
  font-size: var(--font-reg);
}

.animal-details tr td:nth-child(1) {
  font-weight: 600;
}

i.fa-solid.fa-plus {
  font-size: 2.8rem;
  color: var(--submit);
}

i.fa-solid.fa-pen-to-square {
  margin-right: 1.5rem;
  color: var(--warn);
}

i.fa-solid.fa-trash-can {
  color: var(--danger);
}

.data-section table {
  width: calc(100% - 16px);
  text-align: left;
  border-collapse: collapse;
  margin: 0 8px;
}

.data-section td {
  padding: 8px 5px;
  font-size: var(--font-reg);
}

.data-section th {
  font-size: var(--font-l);
  padding: 5px 5px 0;
  border-bottom: rgb(36, 116, 248) solid 2px;
}

.data-section tr:nth-child(even) {
  background-color: #f3f3fd;
}

.data-section {
  width: 600px;
  max-width: 80vw;
}
.medications {
  width: 750px;
}

.weight-container p {
  margin: 12px 0;
}

.weight-container a {
  text-decoration: none;
  color: #111;
}

.weight-container .btn {
  padding: 3px 10px;
  margin-left: 10px;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

#file-name {
  margin-bottom: 10px;
}
/* 
.form-add-medication {
}
.form-add-medication > input {
  writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
} */


@media only screen and (min-width: 768px) {
  .animal-container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .animal-img {
    width: 25%;
    max-width: 250px;
    margin-right: 25px;
  }

  .data-section-weight-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .data-section-weight-container > section {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  .data-section-weight-container {
    padding: 0 40px;
  }
}