{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/animals/animal-detail.css' %}"
/>
<script defer src="{% static 'js/animal-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="animal-container">
  <div class="animal-img">
    {% if animal.photo.url %}
      <img 
        src="{{ animal.photo.url }}" 
        alt="A photo of {{ animal.name }}"
        class="usr-img"
      >
    {% else %}
      <img 
        src="{% static 'images/none.png' %}" 
        alt="No image for {{ animal.name }}"
      >
    {% endif %}
  </div>
  <div class="animal-details">
    <h1>{{ animal.name }}</h1>
    <table>
      <tbody>
        <tr>
          <td>Age: </td>
          <td>{{ animal.age }}</td>
        </tr>
        <tr>
          <td>Sex: </td>
          <td>{{ animal.get_sex }}</td>
        </tr>
        <tr>
          <td>Species: </td>
          <td>{{ animal.species }}</td>
        </tr>
        <tr>
          <td>Breed: </td>
          <td>{{ animal.breed }}</td>
        </tr>
        <tr>
          <td>Color: </td>
          <td>{{ animal.color }}</td>
        </tr>
      </tbody>
    </table>
    <div class="animal-actions">
      <a href="{% url 'animals_update' animal.id %}" class="btn warn">Edit</a>
      <a href="{% url 'animals_delete' animal.id %}" class="btn danger">Delete</a>
    </div>
    <h3>Change {{ animal.name }}'s photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add_photo' animal.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
  </div>
</section>

<section class="data-section feedings">
  <div class="subsection-title">
    <h2>Feedings</h2>
  </div>
  <table>
    <thead>
      <tr><th>Date</th><th>Meal</th><th></th></tr>
    </thead>
    <tbody>
      <tr>
        <form
        action="{% url 'add_feeding' animal.id %}" 
        method="post" 
        class="subsection-content form-add form-add-feeding"
      >
        {% csrf_token %}
        <td>{{ feeding_form.date }}</td>
        <td>{{ feeding_form.description }}</td>
        <td>
          <button type="submit" class="btn submit"><i class="fa-solid fa-plus"></i></button>
        </form>
        </td>
      </tr>
      {% for feeding in feedings %}
        <tr>
          <td>{{feeding.date}}</td>
          <td>{{feeding.description}}</td>
          <td>
            <a href="{% url 'feedings_update' feeding.id %}"><button class="btn">
              <i class="fa-solid fa-pen-to-square"></i>
            </button></a>
            <a href="{% url 'feedings_delete' feeding.id %}">
            <button class="btn">
              <i class="fa-solid fa-trash-can"></i>
            </button></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
</div>

<section class="data-section weights">
  <div class="subsection-title">
    <h2>Weight</h2>
  </div>
  <table>
    <thead>
      <tr><th>Date</th><th>Record</th><th></th></tr>
    </thead>
    <tbody>
      <tr>
        <form
        action="{% url 'add_weight' animal.id %}" 
        method="post" 
        class="subsection-content form-add form-add-weight"
      >
        {% csrf_token %}
        <td>{{ weight_form.date }}</td>
        <td>{{ weight_form.description }}</td>
        <td>
          <button type="submit" class="btn submit"><i class="fa-solid fa-plus"></i></button>
        </form>
        </td>
      </tr>
      {% for weight in weights %}
        <tr>
          <td>{{weight.date}}</td>
          <td>{{weight.description}}</td>
          <td>
            <a href="{% url 'weight_update' weight.id %}"><button class="btn">
              <i class="fa-solid fa-pen-to-square"></i>
            </button></a>
            <a href="{% url 'weight_delete' weight.id %}">
            <button class="btn">
              <i class="fa-solid fa-trash-can"></i>
            </button></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
</div>

<section class="data-section medications">
  <div class="subsection-title">
    <h2>Medications</h2>
    {% comment %} <a href="{% url 'add_medication' animal.id %}"><i class="fa-solid fa-plus"></i></a> {% endcomment %}
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Dosage</th>
        <th>Frequency</th>
        <th>Description</th>
        <th>End Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <form
        action="{% url 'add_medication' animal.id %}" 
        method="post" 
        class="subsection-content form-add form-add-medication"
      >
        {% csrf_token %}
        <td>{{ medication_form.name }}</td>
        <td>{{ medication_form.dosage }}</td>
        <td>{{ medication_form.frequency }}</td>
        <td>{{ medication_form.description }}</td>
        <td>{{ medication_form.end_date }}</td>
        <td>
          <button type="submit" class="btn submit"><i class="fa-solid fa-plus"></i></button>
        </form>
        </td>
      </tr>
      {% for medication in medications %}
        <tr>
          <td>{{ medication.name }}</td>
          <td>{{ medication.dosage }}</td>
          <td>{{ medication.frequency }}</td>
          <td>{{ medication.description }}</td>
          <td>{{ medication.end_date }}</td>
          <td>
            <a href="{% url 'medications_update' medication.id %}"><button class="btn">
              <i class="fa-solid fa-pen-to-square"></i>
            </button></a>
            <a href="{% url 'medications_delete' medication.id %}">
            <button class="btn">
              <i class="fa-solid fa-trash-can"></i>
            </button></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
<section class="data-section care-log">
  <div class="subsection-title">
    <h2>Care Log</h2>
  </div>
  <table>
    <thead>
      <tr><th>Date</th><th>Description of Care</th><th></th></tr>
    </thead>
    <tbody>
      <tr>
        <form
        action="{% url 'add_care_log' animal.id %}" 
        method="post" 
        class="subsection-content form-add form-care_log"
      >
        {% csrf_token %}
        <td>{{ care_log_form.date }}</td>
        <td>{{ care_log_form.description }}</td>
        <td>
          <button type="submit" class="btn submit"><i class="fa-solid fa-plus"></i></button>
        </form>
        </td>
      </tr>
      {% for log in care_log %}
        <tr>
          <td>{{ log.date }}</td>
          <td>{{ log.description }}</td>
          <td>
            <a href="{% url 'care_log_update' log.id %}"><button class="btn">
              <i class="fa-solid fa-pen-to-square"></i>
            </button></a>
            <a href="{% url 'care_log_delete' log.id %}">
            <button class="btn">
              <i class="fa-solid fa-trash-can"></i>
            </button></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
</div>

{% endblock %}